.about-section{
  padding: 0px 10% 80px;
}
.about-grid{
  display:grid;
  grid-template-columns:1.2fr .8fr;
  gap:80px;
  align-items:start;
}

.about-title{
  font-size:clamp(3rem,6vw,6rem);
  line-height:.95;
  margin-bottom:40px;
}

.about-title span{
  color:#c7a27c;
  font-style:italic;
}

.quote-box{
  border-left:6px solid #c7a27c;
  padding-left:20px;
  margin-bottom:40px;
}

.quote-box p{
  font-size:1.3rem;
  line-height:1.7;
}

.about-content p{
  color:#bdbdbd;
  line-height:2;
  margin-bottom:30px;
}

.about-image img{
  width:100%;
  border-radius:12px;
  display:block;
}

.about-image{
  margin-top:150px;
}

.image-footer{
  margin-top:20px;
  padding-top:20px;
  border-top:1px solid rgba(255,255,255,.1);
}

.image-footer h4{
  font-size:1.3rem;
  margin-bottom:5px;
}

.image-footer span{
  color:#999;
  letter-spacing:2px;
  font-size:.8rem;
}

.timeline{
  margin-top:50px;
  border-top:1px solid rgba(255,255,255,.08);
  padding-top:30px;
}

.timeline-item{
  display:flex;
  gap:30px;
  margin-bottom:20px;
}

.timeline-item span{
  color:#c7a27c;
  font-weight:600;
  min-width:50px;
}

.timeline-item p{
  margin:0;
}

@media(max-width:992px){

  .about-grid{
    grid-template-columns:1fr;
  }

  .about-title{
    font-size:3rem;
  }

}